@model IEnumerable<VuHongNgocBTH2.Models.VHN069>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VHNName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VHNGender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VHNName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VHNGender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VHNId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VHNId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VHNId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
